<div id="container">
	<table *ngIf="hasPlayers" class="bordered responsive-table">
		<tr class="header">
			<th>Nome</th>
			<th>Ações</th>
		</tr>
		<tr *ngFor="let player of players; let i = index">
			<td id="player-name">{{player.nickname}}</td>
			<td>
				<a href="#" (click)="updateUser($event, i)">Editar</a> - 
				<a href="#" (click)="deleteUser($event, i)">Remover</a>
			</td>
		</tr>
	</table>

	<p *ngIf="!hasPlayers" class="text-center">Nenhum jogador encontrado</p>

	<div id="button-container">
		<a class="waves-effect waves-light btn blue-grey lighten-1" (click)="addUser()">Adicionar Jogador</a>
	</div>

	<div class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
		<div class="modal-content">
			<h4 *ngIf="selectedPlayer">Editar Jogador</h4>
			<h4 *ngIf="!selectedPlayer">Criar Jogador</h4>
		</div>
		<app-create-player (onCreatePlayerSuccess)="closeModal($event)" [player]="selectedPlayer"></app-create-player>
	</div>
</div>