<div>
	<div *ngIf="noChampionships">Nenhum campeonato criado, inicie criando um.</div>

	<div *ngIf="!noChampionships" class="nav-content">
		<div id="sub-nav">
			<ul materialize="tabs" class="tabs tabs-transparent">
				<li class="tab"><a (click)="changeTab(0)">Classificação</a></li>
				<li  class="tab"><a (click)="changeTab(1)">Jogos</a></li>
			</ul>
		</div>

		<div>
			<span (click)="previousMonth()"> &lt; </span> {{ this.getCurrentMonth() }} <span (click)="nextMonth()"> &gt; </span>
		</div>

		<div>
	      <input type="checkbox" (click)="noFilterSelectionChanged($event)" id="noFilter"/>
	      <label for="noFilter"> Sem filtro</label>
	    </div>

		<hr />

		<app-standing-table *ngIf="tab == 0" [matches]="matches"></app-standing-table>
		<app-match-list *ngIf="tab == 1" [matches]="matches" [cols]="3"></app-match-list>

	</div>
</div>
