<div>
	<div *ngIf="noChampionships" class="error text-center">Nenhum campeonato criado, inicie criando um.</div>

	<div *ngIf="!noChampionships" class="nav-content">
		<div id="sub-nav">
			<ul materialize="tabs" class="tabs tabs-transparent">
				<li class="tab"><a (click)="changeTab(0)">Classificação</a></li>
				<li  class="tab"><a (click)="changeTab(1)">Jogos</a></li>
			</ul>
		</div>

		<div id="season">
			<p>Temporada</p>
			<a class="season-button waves-effect waves-light btn blue-grey" (click)="previousMonth()"> <i class="material-icons">skip_previous</i></a>
			<span id="season-month">{{ this.getCurrentMonth() }}</span>
			<a class="season-button waves-effect waves-light btn blue-grey" (click)="nextMonth()"> <i class="material-icons">skip_next</i> </a>

			<span id="no-filter"><input type="checkbox" (click)="noFilterSelectionChanged($event)" id="noFilter"/>
			<label for="noFilter" id="filter-label">Sem filtro</label></span>
		</div>

		<hr />

		<app-standing-table *ngIf="tab == 0" [matches]="matches"></app-standing-table>
		<app-match-list *ngIf="tab == 1" [matches]="matches" [cols]="4" [minItemsPerColumn]="6"></app-match-list>

	</div>
</div>
