<div class="row">

  <div class="date col s12" *ngIf="match.date">{{match.date}}</div>
  <div *ngIf="match.isFinal" class="col s12 center-align final-match"><span class="chip">Final</span></div>
  <div class="team1 col s4" [ngClass]="{'winner': getWinnerTeamIndex() == 1, 'loser': getWinnerTeamIndex() == 2, 'tie': getWinnerTeamIndex() == 0, 'deleted': isDeleted}">
  	<div class="player player1">{{match.player1.nickname}}</div>
  	<div class="player player2">{{match.player2.nickname}}</div>
  </div>
  <div class="results col s4 center" [ngClass]="{'deleted': isDeleted}">

    <span [ngClass]="{'winner': getWinnerTeamIndex() == 1, 'loser': getWinnerTeamIndex() == 2, 'tie': getWinnerTeamIndex() == 0 }">
      {{match.team1score}}
    </span>
    <span *ngIf="hasPenalties" class="penalty">({{match.team1penalties}})</span>

  	<span class="versus"> x </span>

  	<span [ngClass]="{'winner': getWinnerTeamIndex() == 2, 'loser': getWinnerTeamIndex() == 1, 'tie': getWinnerTeamIndex() == 0 }">
      {{match.team2score}}
    </span>
    <span *ngIf="hasPenalties" class="penalty">({{match.team2penalties}})</span>
  </div>

  <div class="team2 col s4" [ngClass]="{'winner': getWinnerTeamIndex() == 2, 'loser': getWinnerTeamIndex() == 1, 'tie': getWinnerTeamIndex() == 0, 'deleted': isDeleted}">
    <div *ngIf="isLoggedIn" class="edit-delete">
      <a class="material-icons hide-on-med-and-up" routerLink="{{'/match/' + match._id}}">mode_edit</a>
      <a class="material-icons hide-on-small-only" href="#" (click)="editGame($event)">mode_edit</a>
      <a class="material-icons" href="#" (click)="delete($event)">delete</a>
    </div>
  	<div class="player player3">{{match.player3.nickname}}</div>
  	<div class="player player4">{{match.player4.nickname}}</div>
  </div>
</div>

<hr [ngClass]="{'deleted': isDeleted}"/>

<div class="row">
	<div class="modal col s12 offset-m3 m6 offset-l4 l4 insert-match-modal" materialize="modal" 
      [materializeParams]="[{dismissible: true}]" [materializeActions]="matchModalActions">
		<div class="modal-content">
		  	<h4>Editar Jogo</h4>
		</div>
		<app-insert-match (onCreateMatchSuccess)="closeMatchModal($event)" [match]="match"></app-insert-match>
	</div>
</div>
