<div class="row">

	<div *ngIf="error" class="error col s12">{{error.description}}</div>

	<div *ngIf="!error" class="col m4 s12 champions">
		<div class="header">
			Sala de Troféus
		</div>
		<div class="row" *ngFor="let champion of champions">
			<div class="col m2">
				<span>{{ champion.name }}</span>
			</div>
			<div class="col m1">
				<img class="trophyImg" src="assets/platinum_trophy.png"/> <span>{{ champion.times || 0 }}</span>
			</div>
			<div class="col m1">
				<img class="trophyImg" src="assets/gold_trophy.png"/> <span>{{ champion.runnerup || 0 }}</span>
			</div>
			<div class="col m1">
				<img class="trophyImg" src="assets/silver_trophy.png"/> <span>{{ champion.firstPlace || 0 }}</span>
			</div>
			<div class="col m1">
				<img class="trophyImg" src="assets/bronze_trophy.png"/> <span>{{ champion.secondPlace || 0 }}</span>
			</div>
		</div>
		<div class="header">
			Legenda
		</div>
		<p>
			<img class="trophyImg" src="assets/platinum_trophy.png"/> <span>Campeão</span> /
			<img class="trophyImg" src="assets/gold_trophy.png"/> <span>Vice-Campeão</span> /
			<img class="trophyImg" src="assets/silver_trophy.png"/> <span>Líder</span> /
			<img class="trophyImg" src="assets/bronze_trophy.png"/> <span>Vice-Líder</span>
		</p>
	</div>

	<div *ngIf="!error" class="matches col m8 s12">
		<app-match-list [matches]="finalMatches" [cols]="3" [minItemsPerColumn]="6"></app-match-list>
	</div>
</div>
