.row {
    margin-top: 20px;
}

.header {
    background-color: #607D8B;
    color: white;
    line-height: 32px;
    text-align: center;
}

span {
    font-weight: bold;
}

p {
    margin-left: 10px;
}

.error {
    text-align: center;
}

.trophyImg {
    height: 15px;
}
