<nav>
	<div *ngIf="!isLoggedIn">
		<a (click)="openLoginModal()">
			Login
		</a>
		<a routerLink="/hall" routerLinkActive="active-class">
			Hall of fame
		</a>
		<a routerLink="/season/classification/current" routerLinkActive="active-class">
			Temporada
		</a>
	</div>
	<div *ngIf="isLoggedIn">
		<a (click)="logout()" routerLinkActive="active-class">
			Logout
		</a>
		<a routerLink="/players" routerLinkActive="active-class">
			Jogadores
		</a>
		<a (click)="createMatch()" >
			Adicionar Jogo
		</a>
		<a routerLink="/season/classification/current" routerLinkActive="active-class">
			Temporada
		</a>
		<a routerLink="/hall" routerLinkActive="active-class">
			Hall of fame
		</a>
		<a (click)="createSeason()" >
			Criar Nova Temporada
		</a>
	</div>
</nav>

<div class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
	<div class="modal-content">
	  	<h4>Login</h4>
	</div>
	<app-login (onLoginSuccess)="closeLoginModal($event)"></app-login>
</div>

<div class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="matchModalActions">
	<div class="modal-content">
	  	<h4>Inserir Jogo</h4>
	</div>
	<app-insert-match (onCreateMatchSuccess)="closeMatchModal($event)"></app-insert-match>
</div>
