nav {
  background: #607D8B;
  height: 64px;
}

a {
  padding: 0px 25px;
}

a:focus, active{
  background-color: #455A64;
}

.modal.open {
  padding: 5px 0px;
  overflow: visible;
}

.insert-match-modal {
  max-height: 100%;
}

.row {
	margin-bottom: 0;
}
