.insert-match-container {
    overflow: visible;
    padding: 16px;
}

.versus {
    margin-top: 30px;
}

a > div {
    margin: auto;
    width: 70%;
}

.btn {
    clear: both;
    float: right;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

.error {
    margin-bottom: 30px;
    margin-top: -25px;
}
