nav {
    background: #607D8B;
    height: 64px;
}

a {
    padding: 0 25px;
}

a.button-collapse {
    padding: 0;
}

a:focus, active{
    background-color: #455A64;
}

.modal.open {
    overflow: visible;
    padding: 5px 0;
}

.insert-match-modal {
    max-height: 100%;
}

.row {
    margin-bottom: 0;
}
