#popup-content {
    margin:0;
    padding-left: 2%;
    padding-right: 2%;
}

input > div, a > div {
    margin:auto;
    width:70%;
}

.btn {
    clear: both;
    float: right;
    margin-bottom: 10px;
}
