#nickname{
    margin-top: 20px;
}

#password{

}

#login-content{
    margin:0;
    padding-left: 2%;
    padding-right: 2%;
    width:auto;
}

#nickname-container{
    margin:auto;
    width:70%;
}

#password-container{
    margin:auto;
    width:70%;
}

#button-container{
    margin:auto;
    width:70%;
}

.btn{
    clear: both;
    float: right;
    margin-bottom: 10px;
}
