.star-yellow {
    color: #fdd835;
}

.attributes-row {
    margin-bottom:0;
}

.padding-x {
    padding-left: 30%;
    padding-top:40px;
}

.padding-loader {
    padding-top: 10px;
}

.controller {
    color: #fafafa;
    height: 20px;
    line-height: 20px;
    margin: 0;
}

.controller-1 {
    background-color: #e57373;
}

.controller-2 {
    background-color: #64b5f6;
}

.controller-3 {
    background-color: #81c784;
}

.controller-4 {
    background-color: #FFCC00;
}
