#container {
  margin-top: 20px;
}

.modal.open {
  margin: auto;
  padding: 5px 0px;
}

.header {
  background-color: #ffffff;
  color:#999999;
  font-weight: bold;
  font-size: 0.75em;
  text-transform: uppercase;
}

th, td {
  text-align: center;
  height: 50px;
  padding: 0px;
}

table {
  margin: auto;
  margin-bottom: 20px;
}

.dark-cell {
  background-color: #f2f2f2;
}

.light-cell {
  background-color: #ffffff;
}

th:first-child, td:first-child {
  width: 2vw;
  text-align: left;
}

th:last-child, td:last-child {
  width: 1vw;
  text-align: center;
}

#button-container {
  width:70%;
  margin:auto;
}

.btn {
  margin: auto;
  width: 260px;
  display: block;
  color: #ffffff;
}

.text-center {
  text-align: center;
}

a {
  color: #607D8B;
}