<div class="container">
  <div class="row">
    <div class="col s5 offset-s4">
    <h3>4.5</h3>
    <i class="small material-icons star-yellow">star</i>
    </div>
  </div>
  <div class="row">
    <div class="col s5">
      <div class="row">
        <div class="col s4"><img class="responsive-img" src="http://i.imgur.com/KVV5CEY.png"/></div>
        <div class="col s8">Germany</div>
      </div>
      <div class="row">
        <div class="col s12">Women International</div>
      </div>
      <div class="row">
        <div class="col s4">ATK</div>
        <div class="col s4">MID</div>
        <div class="col s4">DEF</div>
      </div>
      <div class="row">
        <div class="col s4">88</div>
        <div class="col s4">82</div>
        <div class="col s4">87</div>
      </div>
    </div>
    <div class="col s2">X</div>
    <div class="col s5">
      <div class="row">
        <div class="col s4"><img class="responsive-img" src="http://i.imgur.com/KVV5CEY.png"/></div>
        <div class="col s8">Germany</div>
      </div>
      <div class="row">
        <div class="col s12">Women International</div>
      </div>
      <div class="row">
        <div class="col s4">ATK</div>
        <div class="col s4">MID</div>
        <div class="col s4">DEF</div>
      </div>
      <div class="row">
        <div class="col s4">88</div>
        <div class="col s4">82</div>
        <div class="col s4">87</div>
      </div>
    </div>
  </div>
</div>