<p *ngIf="!hasPlayers()">
	Nenhum jogador encontrado
</p>

<table *ngIf="hasPlayers()"class="bordered responsive-table" id="table-standing">
	<tr class="header">
		<th>Pos</th>
		<th id="player-name">Nome</th>
		<th>J</th>
		<th>V</th>
		<th>E</th>
		<th>D</th>
		<th>GP</th>
		<th>GC</th>
		<th>GP/J</th>
		<th>GC/J</th>
		<th>SG</th>
		<th>Pontos</th>
		<th>%</th>
	</tr>
	<tr *ngFor="let statistic of statisticsList; let i = index" [ngClass]="{'winner': getColor(i, statistic) == 1, 'loser': getColor(i, statistic) == 2 }">
		<td id="ranking">{{ (i + 1) }}</td>
		<td id="player-name">{{ statistic.player.nickname }}</td>
		<td class="dark-cell">{{ statistic.matches }}</td>
		<td class="light-cell">{{ statistic.victories }}</td>
		<td class="dark-cell">{{ statistic.ties }}</td>
		<td class="light-cell">{{ statistic.defeats }}</td>
		<td class="dark-cell">{{ statistic.goals }}</td>
		<td class="light-cell">{{ statistic.concededGoals }}</td>
		<td class="dark-cell">{{ statistic.goalBalance }}</td>
		<td class="light-cell">{{ formatNumber(statistic.goalsPerMatch) }}</td>
		<td class="dark-cell">{{ formatNumber(statistic.concededGoalsPerMatch) }}</td>
		<td class="light-cell">{{ statistic.score }}</td>
		<td class="dark-cell">{{ formatNumber(statistic.percent) }}%</td>
	</tr>
</table>

<table class="bordered" id="table-balance">
	<tr class="header">
		<th>Total</th>
		<th>Dias</th>
		<th>Avg.</th>
	</tr>

	<tr>
		<td>{{numberOfMatches}}</td>
		<td>{{days}}</td>
		<td>{{limit}}</td>
	</tr>
</table>
