<li *ngIf="item.link">

    <a *ngIf="!item.action" routerLink="{{item.link}}" routerLinkActive="active-class">
        {{item.label}}
    </a>

    <a *ngIf="item.action" routerLink="{{item.link}}" class="hide-on-med-and-up" routerLinkActive="active-class">
        {{item.label}}
    </a>

    <a *ngIf="item.action" class="hide-on-small-only" (click)="item.action()" routerLinkActive="active-class">
        {{item.label}}
    </a>
</li>

<li *ngIf="!item.link">
    <a (click)="item.action()" routerLinkActive="active-class">
        {{item.label}}
    </a>
</li>
