.sub-nav {
    background: #607D8B;
}

.tab {
    cursor: pointer;
    padding: 0 24px;
}

.active-tab {
    color:#ff0000;
}

.season {
    margin-bottom: 10px;
    margin-left: 3%;
}

.season-title {
    margin-bottom: 0;
}

.season-p {
    background-color: #ffffff;
    color:#999999;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
}

.season-button {
    padding-left: 10px;
    padding-right: 10px;
}

.season-month-container {
    height: 36px;
    padding: 0 20px;
}

.text-center {
    text-align: center;
    width: 100%;
}

.no-filter-container {
    height: 36px;
}

.no-filter {
    width: 100%;
}

.filter-label{
    margin-left:1%;
}

.error {
    margin-top: 12px;
    text-align: center;
}

@media only screen and (min-width: 993px) {
    .large-none {
        width: auto !important;
    }

    .l1-5 {
        width: 10% !important;
    }
}
