.winner {
    color: #4CAF50;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}

.final-match{
    padding-bottom: 0;
    padding-top: 3px;
}

.final-match .chip{
    background-color: #ff5252;
    color: #fafafa;
    height: 20px;
    line-height: 20px;
    margin: 0;
}

.loser {
    color: #f44336;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}

.tie {
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}

.results {
    font-size: 20px;
    height:44px;
    line-height: 44px;
    margin-bottom: 5px;
    margin-top: 12px;
    vertical-align: middle;
}

.date {
    background: #607D8B;
    color: #fff;
    line-height: 32px;
    text-align: center;
}

.row {
    margin-bottom: 0 !important;
}

.penalty {
    color: #444;
    font-size: 14px;
}

.edit-delete {
    position: absolute;
    right: 10px;
}

.edit-delete a {
    font-size: 16px;
}

.team2 {
    position: relative;
}

.deleted {
    display: none;
}
