.insert-match-container {
	padding: 16px;
	overflow: visible;
}

a > div {
  width:70%;
  margin:auto;
}

.btn{
  float: right;
  clear: both;
  margin-bottom: 10px;
}

.text-center {
	text-align: center;
}

.error {
	margin-top: -25px;	
	margin-bottom: 30px;
}